.title-container {
    flex: 1;
}

.filter-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    position:absolute;
    right:30px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}