/* App.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  .App {
    text-align: center;
    padding-top: 50px;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  h1 {
    color: #61dafb;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 300px;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ddd; /* Add a border to the input */
    background-color: white; /* Ensure input background is white */
    color: black; /* Make the input text color black */
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #61dafb;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px; /* Add space between the text input and button */
  }
  
  button:hover {
    background-color: #4FA9D6;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #fff; /* Change the background to a non-white color if needed */
    color: #333; /* Dark text color for visibility */
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
  }
  
  button.delete-btn {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    border: none;
    background-color: #ff6b6b;
    color: white;
  }
  
  button.delete-btn:hover {
    background-color: #fc5151;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    input[type="text"], ul, li {
      width: 80%;
    }
  }
  